.date {
  margin-top: 19px;

  font-size: 24px;
  text-align: center;
}

.extension {
  display: flex;
  justify-content: center;

  gap: 0.5em;
}

.company_update_form,
.subscribe_form {
  width: 100%;
}

.subscribe_form {
  margin-top: 38px;
}

.subscribe_button {
  margin-top: 19px;
}

.text_under_button {
  padding-top: 4px;

  font-size: 8px;
}

.company_update_button {
  width: 100%;

  padding: 12px;

  margin-top: 19px;

  font-size: 12px;
  text-align: center;

  background: none;

  border-radius: 4px;

  border: 1.5px solid var(--color-green);
}

.company_update_button:hover {
  cursor: pointer;
}

.input {
  width: 100%;

  padding: 12px;

  margin-top: 19px;

  font-size: 12px;

  border-radius: 4px;
  border: 1px solid rgb(0 0 0 / 20%);
}
