.date {
  display: flex;
  justify-content: center;

  gap: 0.5em;
}

.text_under_button {
  padding-top: 4px;

  font-size: 8px;
}

.button_pos {
  margin-top: 19px;
}

.input {
  width: 100%;

  padding: 12px;

  margin-top: 19px;

  font-size: 12px;

  border-radius: 4px;
  border: 1px solid rgb(0 0 0 / 20%);
}
